<ion-header>
    <ion-toolbar>
        <ion-buttons start class="leftToolbarButton">
            <button ion-button icon-only (tap)="onCancel()">
              <ion-icon *ngIf="formMode=='EDIT'" name='arrow-back'></ion-icon>
              <ion-icon *ngIf="formMode=='ADD'" name="add" class="cross"></ion-icon>
            </button>
        </ion-buttons>
    
        <ion-buttons end class="rightToolbarButton">
          <button ion-button outline (tap)="onSubmit(articleForm)">
            <span *ngIf="formMode=='EDIT'">Update</span>
            <span *ngIf="formMode=='ADD'">Post</span>
          </button>
        </ion-buttons>
    
      </ion-toolbar>
  </ion-header>

  <ion-content class="article-content">
    <ion-list no-lines>
      <form 
        novalidate
        class="article-form" 
        [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm)">
      
        <ion-row class="form-input">
          <ion-item>
            <ion-label class="form-label" stacked>
              Title:*
            </ion-label>
            <ion-input 
                  required type="text"
                  class="input-regular"
                  placeholder="Set your title"
                  formControlName="title" 
                  tabIndex="1">
              </ion-input>
              <span 
                  *ngIf="articleForm.get('title').hasError('required')">						
                  Required field, please enter.
              </span>
            </ion-item>
        </ion-row>

        <ion-row class="form-input">
          <ion-item>
            <ion-label class="form-label" stacked>
                Your Content:*
            </ion-label>
            <ion-textarea class="textarea-field input-regular"
                placeholder="How's your day?"
                formControlName="body"
                maxlength="1000"
                tabIndex="2">
            </ion-textarea>
            <span 
                *ngIf="articleForm.get('body').hasError('required')">						
                Required field, please enter.
            </span>
          </ion-item>
        </ion-row>
      </form>
  
    </ion-list>
  </ion-content>
  <ion-footer no-shadow no-border class="article-footer-toolbar" *ngIf="formMode=='EDIT'">
    <ion-toolbar position="bottom">
      <button
        ion-button
        class="delete-button"
        (tap)="onDeleteArticle(articleForm)">
        Delete this article
      </button>
    </ion-toolbar>
  </ion-footer>